@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 21, 180, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  --foreground: #171717;
  --primaryColor: rgb(47, 172, 155);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 21, 180, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}
